logs
project/project
project/target
project/.sbtserver
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/RUNNING_PID
/.settings
bin
.sbtserver/
*.gz
.project
.cache-main
.cache-tests
.sbtserver.lock